
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 0%;
    font-family: Trebuchet MS;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
   }
   .nav-links a {
    color: #fff;
   }
 

   .logo {
    font: 15px;
    font-family: cursive;
    color: white;
   }

   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }

   * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }
  
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: #c8e8e9;
  }
  
  .row {
    background-image: url("images/change.jpg");
  }
  

  .blink {
    color:red;
    text-align: center;
    animation: animate 1.5s linear infinite;
 } 
  
 @keyframes animate{
   0%{
     opacity: 0;
   }
   50%{
     opacity: 0.7;
   }
   100%{
     opacity: 0;
   }
 }

.by {
  color: teal;
}

  .left, .right, .center {
    float: left;
    width: 33%;
    color: white;
    padding: 10px;
    height: 50%;
    text-align: center;
 }
 .left {
    background-color: transparent;
    color: #1b1b1b;
 }
 .right {
    background-color: transparent;
    color: #1b1b1b;
 }
 .center {
    background-color: transparent;
    color: #1b1b1b;
 }
 .container:after {
    clear: both;
 }
  
  .text-bot {
    color: white;
  }
  
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }

  .submitBtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 15px 30px;
    border: none;
    background-color: teal;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submitBtn:hover {
    background-color: #9867C5;
    transform: translateY(-2px);
  }
  
  .input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: teal;
  }
  
  .input:focus {
    border: 2px solid purple;
  }
  
  .input:not(:placeholder-shown)+ .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
  }


  .footer {
    padding: 20px;
    text-align: center;
    background: teal;
    margin-top: 350px;
    height: 50px;
    font-family: sans-serif;
    font-size: 10px;
  }