{% extends 'base.html' %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}

    <nav class="navbar">

        <div class="logo">Much ado about nothing</div>
   
        <ul class="nav-links">
      
        <div class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/signup">Register</a></li>
        </div>
        </ul>
    </nav>