{% extends 'base.html' %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}

    <nav class="navbar">

        <div class="logo">Much ado about nothing</div>
   
        <ul class="nav-links">
      
        <div class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/signup">Sign up</a></li>
        </div>
        </ul>
    </nav>


    <div class="header">
        <h2>Space</h2>
      </div>
      
      <section>
        <div class="row">
        
        </div>
      </section>

      <div>
        <h1 style="text-align: center;" class="blink">New Blogs</h1>
        <div class="container">

        <div class="left">
          <h1></h1>
          <h3 class="by">Blog by: </h3>
          <p></p>
          </div>

        <div class="center">
        <h1></h1>
        <h3 class="by">Blog by: </h3>
        <p></p>
        </div>

        <div class="right">
          <h1></h1>
          <h3 class="by">Blog by: </h3>
          <p></p>
        </div>

      </div>

      
      <a href="/post"><input type="submit" class="submitBtn" value="Create Blog"></a>
  
      
      
      <div class="footer">
        <h2 class="text-bot">Copyright © 2022 My Blog, Inc.</h2>
      </div>


{% endblock %}